.post {
  position: relative;
  width: 400px;
  height: 250px;
  background-color: rgba(126, 135, 130, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius: 10px;
  margin-bottom: 10px;
}

.headerContainer {
  position: absolute;
  top: 20px ;
}

.postHeader {
  margin-top: 20px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  color: rgb(176, 179, 181);
  margin-left: 20px;
}

.textContainer {
  position: absolute;
  top: 30px;  
  left: 10px;
  right: 10px;
}

.text {
  padding: 10px;
  color: white;
  font-family: Montserrat; 
  margin-top: 40px;
  /* text-align: justify; */
}